.background {
    -fx-background-image: url("../images/Menu.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat; 

}

.section-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-alignment: center;
}

.vertical-scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.horizontal-scroll .viewport {
    -fx-background-color: transparent;
}

.horizontal-scroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.horizontal-scroll .scroll-bar:horizontal {
    -fx-opacity: 0; /* Oculta la barra de scroll horizontal */
}

.horizontal-scroll .scroll-bar:horizontal:hover {
    -fx-opacity: 0; /* Sigue oculta incluso al pasar el ratón */
}
